$primaryColor: #245dda;

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin winXPDefaultBorder {
  border: 2px solid;
  border-bottom-color: #fffefe;
  border-right-color: #fffefe;
  border-left-color: #7b7b7b;
  border-top-color: #7b7b7b;
}
