$primaryColor: #245dda;
$border-white: #fffefe;
$border-grey: #7b7b7b;
$taskbarHeight: 34px;
$userInfoHeight: 70px;
$powerOptionsHeight: 48px;

@mixin flex($dir, $just-cont: initial, $align-item: initial) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just-cont;
  align-items: $align-item;
}

@mixin winXPDefaultBorder($left-top, $right-bottom, $width) {
  border: $width solid;
  border-bottom-color: $right-bottom;
  border-right-color: $right-bottom;
  border-left-color: $left-top;
  border-top-color: $left-top;
}
