@import "src/styles/config.scss";

.taskbar {
  height: $taskbarHeight;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $primaryColor;
  @include flex(row, $just-cont: space-between);
  .left_cont {
    position: relative;
    display: flex;
    gap: 12px;
    align-items: center;
    width: 100%;
  }
  .time {
    height: 100%;
    width: 100px;
    background: #0d90eb;
    box-shadow: 0px 0px 8px 2px rgba(97, 176, 230, 0.75) inset;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(97, 176, 230, 0.75) inset;
    -moz-box-shadow: 0px 0px 8px 2px rgba(97, 176, 230, 0.75) inset;
    font-size: 14px;
    font-weight: 300;
    color: white;
    @include flex(row, center, center);
  }
}
