@import "src/styles/config.scss";

.start_button {
  @include flex(row, center, center);
  gap: 5px;
  height: 100%;
  width: 100px;
  padding-right: 10px;
  letter-spacing: -1px;
  color: white;
  font-weight: 500;
  font-style: italic;
  background: rgb(34, 148, 31);
  background: radial-gradient(
    circle,
    rgba(34, 148, 31, 1) 50%,
    rgba(15, 108, 14, 1) 100%
  );
  border-top-right-radius: 6px 60%;
  border-bottom-right-radius: 6px 60%;
  text-shadow: 1px 1px 4px rgb(60, 60, 60);
  -webkit-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  img {
    width: 20px;
  }
}
