@import "src/styles/config.scss";

.face {
  @include flex(row, center, center);
  font-size: 30px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  @include winXPDefaultBorder($border-white, $border-grey, 4px);
  &:active {
    @include winXPDefaultBorder($border-grey, $border-white, 4px);
    transform: translate(4px, 4px);
  }
}
