@import "src/styles/config.scss";

.container {
  height: $userInfoHeight;
  @include flex(row, $align-item: center);
  gap: 6px;
  width: 100%;
  padding: 6px;
  img {
    border: 2px solid white;
    border-radius: 6px;
    height: 100%;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  }
  span {
    font-size: 20px;
    color: white;
    letter-spacing: -1px;
    text-shadow: 1px 1px 4px rgb(51, 51, 51);
  }
}
