@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Trispace", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: no-repeat center url("../src/assets/backgroundXP.webp");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
