@import "src/styles/config.scss";

.icon {
  z-index: 0;
  @include flex(column, center, center);
  gap: 8px;
  padding: 4px;
  height: 80px;
  overflow: hidden;
  &.disabled {
    cursor: not-allowed;
  }
  &:hover {
    background-color: rgb(255, 255, 255, 0.5);
  }
  img {
    width: 36px;
  }
  span {
    color: white;
    font-size: 12px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
}
